{% load static %}

<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap/style.css" %}" />
        <script src="{% static "bootstrap/script.js" %}"></script>
        {% block title %}
            <title>Geo View</title>
        {% endblock %}
    {% endblock %}

    {% block script %}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100" data-bs-theme="dark">
    {% block page %}
    {% endblock %}
</body>
</html>
