{% extends "common.html" %}
{% load static %}

{% block content %}
    <div>Количество статей подходящих под параметры: {{ stat.articles_count }}</div>
    <div>Количество меток подходящих под параметры: {{ stat.positions_count }}</div>
    <div>Статей отображено: {{ stat.articles_shown }}</div>
    <div id="map" style="width: 100%; height: 800px"></div>
{% endblock %}

{% block script %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<d2e2aa16-3df3-4a4c-9c10-301adbd9bc46>"
            type="text/javascript"></script>
    <script type="text/javascript">
        function prepare_map() {
            var myMap = new ymaps.Map('map', {
                    center: [0, 0],
                    zoom: 1,
                    behaviors: ['default', 'scrollZoom'],
                    controls: ['zoomControl'],
                }, {
                    searchControlProvider: 'yandex#search'
            }),
            /**
             * Создадим кластеризатор, вызвав функцию-конструктор.
             * Список всех опций доступен в документации.
             */
            clusterer = new ymaps.Clusterer({
                /**
                 * Через кластеризатор можно указать только стили кластеров,
                 * стили для меток нужно назначать каждой метке отдельно.
                 */
                preset: 'islands#invertedVioletClusterIcons',
                /**
                 * Ставим true, если хотим кластеризовать только точки с одинаковыми координатами.
                 */
                groupByCoordinates: false,
                /**
                 * Опции кластеров указываем в кластеризаторе с префиксом "cluster".
                 */
                clusterDisableClickZoom: true,
                clusterHideIconOnBalloonOpen: false,
                geoObjectHideIconOnBalloonOpen: false
            }),
            /**
             * Функция возвращает объект, содержащий данные метки.
             * Поле данных clusterCaption будет отображено в списке геообъектов в балуне кластера.
             * Поле balloonContentBody - источник данных для контента балуна.
             * Оба поля поддерживают HTML-разметку.
             * Список полей данных, которые используют стандартные макеты содержимого иконки метки
             * и балуна геообъектов, можно посмотреть в документации.
             */
            getPointData = function (place, quote, title, url, text) {
                let body = `
                    <p>
                        Найдено по слову "${quote}"<br><br>
                        ${place}<br><br>
                        <a href="${url}">Оригинальная статья</a><br>
                        ${text}
                    </p>
                `
                return {
                    balloonContentHeader: title,
                    balloonContentBody: body,
                    clusterCaption: title
                };
            },

            /**
             * Функция возвращает объект, содержащий опции метки.
             * Все опции, которые поддерживают геообъекты, можно посмотреть в документации.
             */
            getPointOptions = function () {
                return {
                    preset: 'islands#violetIcon'
                };
            },

            geoObjects = []
            /**
             * Данные передаются вторым параметром в конструктор метки, опции - третьим.
             */

            {% for location in locations %}
                geoObjects.push(
                    new ymaps.Placemark(
                        [{{ location.position.lat }}, {{ location.position.lon }}],
                        getPointData(
                            "{{ location.position.display_name }}",
                            "{{ location.quote }}",
                            "{{ location.article.title }}",
                            "{{ location.article.url }}",
                            "{{ location.article.text }}",
                        ),
                        getPointOptions()
                    )
                )
            {% endfor %}

            /**
             * Можно менять опции кластеризатора после создания.
             */
            clusterer.options.set({
                gridSize: 80,
                clusterDisableClickZoom: true
            });

            /**
             * В кластеризатор можно добавить javascript-массив меток (не геоколлекцию) или одну метку.
             */
            clusterer.add(geoObjects)
            myMap.geoObjects.add(clusterer)

            /**
             * Спозиционируем карту так, чтобы на ней были видны все объекты.
             */
            myMap.setBounds(clusterer.getBounds(), {
                checkZoomRange: true
            })
        }

        ymaps.ready(prepare_map)
    </script>
{% endblock %}