{% extends "common.html" %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="mb-4 row">
            <div class="col-12">
                <label class="form-label">Начало периода</label>
                <input type="text"
                       class="form-control"
                       name="start"
                       placeholder="2024-01-01"
                       aria-label="start"
                       value="">
                <small class="form-text">Если указать, будут выбраны новости после указанной даты.</small>
            </div>
        </div>
        <div class="mb-4 row">
            <div class="col-12">
                <label class="form-label">Конец периода</label>
                <input type="text"
                       class="form-control"
                       name="end"
                       placeholder="2024-01-01"
                       aria-label="start"
                       value="">
                <small class="form-text">Если указать, будут выбраны новости до указанной даты (не включительно).</small>
            </div>
        </div>
        <div class="mb-4 row">
            <div class="col-12">
                <label class="form-label">Максимальное количество меток</label>
                <input type="text"
                       class="form-control"
                       name="limit"
                       placeholder="1000"
                       aria-label="limit"
                       value="1000">
                <small class="form-text">Если указано не нулевое число, то им будет ограничено количиство выведенных меток.</small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Найти новости</button>
        <div class="mb-4 row">
            {% for error in errors %}
                <div class="col-12">
                    <label class="form-label">Ошибка: {{ error }}</label>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}